<section class="aside">

  {% include "partials/progressBar.liquid" %}

  <ul>
    <li>
      <h1>Donationsmål</h1>
    </li>
    <li>
      <h3>
        5 000 kr
      </h3>
      <p>
        Kompet gycklar på skivsläppet
      </p>
    </li>
    <li>
      <h3>
        10 000 kr
      </h3>
      <p>
        Kompet gycklar INTE på skivsläppet
      </p>
    </li>
    <li>
      <h3>
        20 000 kr
      </h3>
      <p>
        Aktiva blåset åker gratis på vår rephelg
      </p>
    </li>
    <li>
      <h3>
        30 000 kr
      </h3>
      <p>
        En gamling får vara med i musikvideon
      </p>
    </li>
    <li>
      <h3>
        50 000 kr
      </h3>
      <p>
        Naket på skivomslaget
      </p>
    </li>
  </ul>
</section>