<section class="aside">

  {% include "partials/progressBar.liquid" %}

  <ul>
    <h1>Förmåner</h1>
    <li>
      <h3>1 - 350 kr</h3>
      <p class="small">
        Du hjälper oss att göra skivan till verklighet!
      </p>
    </li>
    <li>
      <h3>350 - 500 kr</h3>
      <p class="small">
        Du får ett exemplar av vår nya LP-skiva!
      </p>
    </li>
    <li>
      <h3>500 - 1000 kr</h3>
      <p class="small">
        Du får vår nya LP-skiva signerad av hela blåset!
      </p>
    </li>
    <li>
      <h3>1000kr - 3000 kr</h3>
      <p class="small">
        En hemlig överaskning...
      </p>
    </li>
    <li>
      <h3>Över 3000 kr</h3>
      <p class="small">
        Du står med som sponsor på skivomslaget
      </p>
    </li>
  </ul>
</section>