<section class="aside">
  <ul>
    <li>
      <h1>Förmåner</h1>
    </li>
    <li>
      <h3>
        1 - 350 kr
      </h3>
      <p>
        Du hjälper oss att göra skivan till verklighet!
      </p>
    </li>
    <li>
      <h3>
        350 - 500 kr
      </h3>
      <p>
        Du får ett exemplar av vår nya LP-skiva!
      </p>
    </li>
    <li>
      <h3>
        500 - 1000 kr
      </h3>
      <p>
        Du får vår nya LP-skiva signerad av hela blåset!
      </p>
    </li>
    <li>
      <h3>
        1000 kr - 3000 kr
      </h3>
      <p>
        En hemlig överaskning...
      </p>
    </li>
    <li>
      <h3>
        3000 kr - 10 000 kr
      </h3>
      <p>
        Du står med som sponsor på skivomslaget
      </p>
    </li>
    <li>
      <h3>
        Över 10 000 kr
      </h3>
      <p>
        Du får vara med på våran musikvideo!
      </p>
    </li>
  </ul>
</section>