<div id="progress-container">
  <div id="progress-bar-markings">
    <div class="progress-bar-markings-container">
      <span>10 000kr</span>
      <div class="vl"></div>
    </div>
    <div class="progress-bar-markings-container">
      <span>20 000kr</span>
      <div class="vl"></div>
    </div>
    <div class="progress-bar-markings-container">
      <span>30 000kr</span>
      <div class="vl"></div>
    </div>
    <div class="progress-bar-markings-container">
      <span>40 000kr</span>
      <div class="vl"></div>
    </div>
    <div class="progress-bar-markings-container">
      <span style="visibility: hidden;">50 000 kr</span>
      <div class="vl" style="visibility: hidden;"></div>
    </div>
  </div>
  <div id="progress-bar">
    <div id="progress-bar-wrapper">
      <span id="progress-fill" class="loading"></span>
    </div>
  </div>
</div>

<script>
    fetchCurrentProgress();

    function fetchCurrentProgress() {
        const scriptURL = "https://script.google.com/macros/s/AKfycbxtLrgIy9K9MzmibNuueC_7no4pUSV8Zs1SwuRGAbl7IOydOVv5JxecbBKUKg04vJNhHQ/exec";
        
        fetch(scriptURL, {
            redirect: "follow",
            method: 'GET',
            headers: {
                "Content-Type": "text/plain;charset=utf-8",
            }
        })
        .then((response) => response.json())
        .then((json) => {
            const progressFill = document.getElementById("progress-fill");
            progressFill.classList = "";
            const progressBarWrapper = document.getElementById("progress-bar-wrapper");
            const precent = 100 * (parseFloat(json.data) / 50000)
            progressBarWrapper.style.width = precent + "%";
        } );
    }
</script>